@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&family=Poppins:wght@100;200;300;400;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--blue-bg: #0d3468;
	--border-peach: rgb(255, 166, 1);
	--main-bg: #fdfdfd;
	--btn-blue-bg: rgb(4, 63, 255);
}

body {
	background: var(--main-bg);
}
