.header {
	background-color: var(--blue-bg);
	color: white;
	display: flex;
	justify-content: center;
	position: relative;
	/* padding: 1rem; */
}

.headerContainer {
	width: 100%;
	max-width: 1024px;

	margin: 20px 0px 80px 0px;
	padding-bottom: 0.4rem;
	/* padding: 1rem; */
}

.headerContainer.listMode {
	margin: 20px 0px 0px 0px;
}

.headerList {
	display: flex;
	gap: 24px;
	margin-bottom: 10px;
	padding: 1rem;
}

.headerListItem {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-around;
	padding: 6px;

	cursor: pointer;
}

.headerListItem.active {
	border: 1px solid white;
	padding: 10px;
	border-radius: 20px;
}

.headerTitle {
	padding-inline: 1rem;
}
.headerDesc {
	margin: 20px 0px;
	padding-inline: 1rem;
}

.headerBtn {
	background-color: var(--btn-blue-bg);
	color: white;
	font-weight: 500;
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: 300ms ease;
}

.headerBtn:hover {
	background-color: #175cff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.headerBtn:active {
	scale: 0.98;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.headerSearch {
	/* height: 30px; */
	background-color: white;
	border: 3px solid var(--border-peach);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 8px 0px;
	border-radius: 5px;
	position: absolute;
	bottom: -25px;
	width: 100%;
	max-width: 1024px;
	color: #000;
	/* padding: 0.2rem; */
}

.headerIcon {
	color: lightgray;
}

.headerSearchItem {
	display: flex;
	align-items: center;
	gap: 10px;
}

.headerSearchInput {
	border: none;
	outline: none;
}

.headerSearchText {
	color: lightgray;
	cursor: pointer;
}

.date {
	position: absolute;
	top: 50px;
	z-index: 2;
}

.options {
	z-index: 2;
	position: absolute;
	top: 50px;
	background-color: white;
	color: gray;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
	width: 200px;
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.optionCounter {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 12px;
	color: black;
}

.optionCounterButton {
	width: 30px;
	height: 30px;
	border: 1px solid #0071c2;
	color: #0071c2;
	cursor: pointer;
	background-color: white;
}

.optionCounterButton:disabled {
	cursor: not-allowed;
}
